<div class="col-md-12 table-responsive-vertical shadow-z-1">
	<!-- Table starts here -->
	<table id="table" class="table table-hover table-mc-pink table-bordered">
		<thead>
			<tr>
				<th>Vaknaam</th>
				<th>Studiepunten</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="vak in vakken | orderBy: 'vaknaam'">
			<tr>
				<td data-title="Vaknaam">{{ vak.vaknaam }}</td>
				<td data-title="Studiepunten">{{ vak.studiepunten }}</td>
				<td data-title="Submit">
					<button class="submit-button" ng-click="submit();"><i class="fa fa-sign-in"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>